CompileFlags:
  CompilationDatabase: ../build

InlayHints:
  BlockEnd: No
  Designators: No
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes
  TypeNameLimit: 32

Diagnostics:
  UnusedIncludes: Strict
  # MissingIncludes: Strict

  ClangTidy:
    Add: 
      - readability-*
      - modernize-*
      - performance-*
    
    Remove:
      - readability-magic-numbers
      - readability-function-cognitive-complexity
      - modernize-use-trailing-return-type
      - readability-identifier-length
      - performance-avoid-endl

    FastCheckFilter: None

    CheckOptions:
      readability-identifier-naming.NamespaceCase: CamelCase
      readability-identifier-naming.ClassCase: CamelCase
      readability-identifier-naming.StructCase: CamelCase
      readability-identifier-naming.EnumCase: CamelCase
      readability-identifier-naming.TemplateParameterCase: CamelCase
      readability-identifier-naming.FunctionCase: camelBack
      readability-identifier-naming.VariableCase: lower_case
      readability-identifier-naming.MemberCase: lower_case
      readability-identifier-naming.ClassMemberCase: lower_case
      readability-identifier-naming.PrivateMemberCase: lower_case
      readability-identifier-naming.PrivateMemberSuffix: ''
      readability-identifier-naming.PrivateMemberPrefix: m_
      readability-identifier-naming.ProtectedMemberSuffix: ''
      readability-identifier-naming.ProtectedMemberPrefix: m_
      readability-identifier-naming.PublicMemberSuffix: ''
      readability-identifier-naming.PublicMemberPrefix: ''
      readability-identifier-naming.EnumPrefix: ''
      readability-identifier-naming.EnumConstantCase: UPPER_CASE
      readability-identifier-naming.EnumConstantPrefix: ''
      readability-identifier-naming.ConstexprVariableCase: UPPER_CASE
      readability-identifier-naming.ConstexprVariablePrefix: ''
      readability-identifier-naming.StaticConstantCase: lower_case
      readability-identifier-naming.StaticConstantPrefix: ''
      readability-identifier-naming.TypeAliasCase: CamelCase
      readability-identifier-naming.TypeAliasSuffix: ''
      readability-identifier-naming.TypedefCase: CamelCase
      readability-identifier-naming.TypedefSuffix: ''